* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.logo {
    color: #2196F3;
    font-weight: 800;
    font-size: 32px;
}

.navMe {
    flex-grow: unset !important;
}

.landing {
    background-image: url('/imgs/landing.jpg');
    height: calc(100vh - 74px);
    background-size: cover;
    overflow: hidden;
}

.landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2b3035;
    text-align: center;
    position: relative;
    background: #2b303555;
    font-weight: bold;
    padding: 40px 15px;
    font-size: 20px;
    border-radius: 20px;
    width: 70%;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    height: 200px;
}


.landing .text::before {
    content: '';
    position: absolute;
    height: 480px;
    background: #2b30356c;
    width: 30px;
    top: 201px;
    right: 58px;
}
.landing .text::after {
    content: '';
    position: absolute;
    height: 480px;
    background: #2b30356c;
    width: 30px;
    top: 201px;
    left: 58px;
}

.landing .text .title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 35px;
    font-weight: 900;
    border-bottom: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
}
.landing .text .title p {
    color: #2196F3;
}
.landing .text .description {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}
.landing .text .description::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -10px;
}
.landing .text .description::after {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ffffff;
    font-size: 14px;
    margin-right: 10px;
    position: absolute;
    left: 16px;
    top: -7px;
}

@media screen and (max-width: 992px) {
    .landing .text {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .landing .text {
        min-height: 600px;
    }
    .landing .text .title {
        justify-content: center;
    }
    .landing .text .title p {
        display: none;
    }
    .landing .text .description {
        font-size: 16px;
    }
    .landing .text::before, .landing .text::after {
        display: none;
    }
}




.jobs {
    background-image: url('/imgs/x.png');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding: 30px 0;
}
.jobs::before {
    content: '';
    background: #2b3035c4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.jobs .container {
    padding: 30px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.jobs .container .card {
    width: 30% !important;
    margin: 30px 0;
    border-radius: 10px;
}
.jobs .container .card img {
    z-index: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.jobs .container .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.jobs .container .card::before {
    content: 'remotely';
    position: absolute;
    background: #ffffff;
    padding: 8px 20px;
    font-weight: bold;
    font-family: cursive;
    z-index: 3;
}
.jobs .container .card::after {
    content: '';
    position: absolute;
    z-index: -19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}
.jobs .card .card-body {
    z-index: 1;
}

@media screen and (max-width: 992px) {
    .jobs .container .card  {
        width: 40% !important;
    }
}

@media screen and (max-width: 767px) {
    .jobs .container .card  {
        width: 90% !important;
    }
    .jobs .container {
        justify-content: center;
    }
}



.footer {
    background-color: #2b3035;
}
.footer .card {
    background-color: #2b3035;
    color: #ffffff;
}