.form {
    padding: 40px 10px;
    color: #fff;
}
input {
    background-color: #171a1b !important;
    color: #2195F3 !important;
}
textarea.form-label {
    width: 100%;
    resize: none;
    background-color: #171a1b !important;
    color: #2195F3 !important;
    min-height: 120px;
    padding: 10px;
}
div#emailHelp {
    color: #2195F3;
}
#my-locker {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(200deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}